{% extends './base.html' %}

{% block title %} Inicio De Sesión {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
{% endblock %}

{% block body %}
<form class="form-signin w-100 m-auto" action="/login" method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <img
    class="mb-4"
    src="{{ url_for('static', filename='image/flask.svg') }}"
    alt=""
    width="72"
    height="57"
  />
  <h1 class="h3 mb-3 fw-normal">Inicio De Sesi&oacute;n</h1>

  <div class="form-floating mb-2">
    <input
      type="text"
      class="form-control"
      id="userName"
      name="userName"
      placeholder="Por favor ingrese su usuario."
      minlength="6"
      maxlength="20"
      required
      autofocus
    />
    <label for="userName">Usuario:</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Por favor ingrese su password"
      minlength="6"
      required
      autofocus
    />
    <label for="password">Password:</label>
  </div>

  <button class="btn btn-primary w-100 py-2" type="submit">Iniciar Sesi&oacute;n</button>

  {% with messages = get_flashed_messages(with_categories=True) %}

  {% if messages %}

  {% for category, message in messages %}

  {% if category == 'warning' %}
  <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
    <strong style="font-size: 14px;">{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% else %}
  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    <strong style="font-size: 14px;">{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}

  {% endfor %}
  {% endif %}

  {% endwith %}

  <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
</form>

{% block customJS %}
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock %}

{% endblock %}
