<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}"
      >Ecommerce Libros Flask</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('index') }}"
            >Inicio</a
          >
        </li>

        {% if current_user.user_type_id.user_type_id == 2 %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('list_books') }}"
            >Libros</a
          >
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}"
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
  <span class="navbar-text">
    <strong>{{ current_user.user_name }}</strong> ({{ current_user.user_type_id.user_type_name }})
  </span>
</nav>
